<!DOCTYPE html>
<html ng-app="bracketApp">
<head>
	<title>Bracket App!</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
</head>
<body ng-controller="BracketController">
	<div class="navbar navbar-static-top" id="blur"></div>
	<div class="navbar navbar-default navbar-fixed-top" id="navbar">
			<div class="container-fluid">
				<div class="navbar-brand navbar-left">
					<p id="header">Bracket Application</p>
				</div>
				<div class="nav navbar-right">
					<ul class="nav navbar-nav" id="test">
						<li><a href="#">Login/Sign Up</a></li>
						<li><a href="#">My Brackets</a></li>
						<li><a href="#">Create Bracket</a></li>
						<li class="dropdown" id="aboutUs">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"> About Us <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">Test 1</a></li>
								<li><a href="#">Test 2</a></li>
								<li><a href="#">Test 3</a></li>
							</ul>
						</li>

					</ul>
				</div>
			</div>
	</div>
	<div class="container text-center">
		<div class="row well">
			<div class="col-md-12">
				<div class="sub-content">
					<h2>Add Entrants</h2>
					<form ng-submit="submit2()">
						<input class = "form-control" type="text" ng-model="text" name="text"/>
						<br/>
						<button class="btn btn-primary btn-lg" type="submit" value="Submit">
							Add Entrant
						</button>
					</form>
				</div>
			</div>
		</div>
		<br/>
		<div class="text-center" ng-repeat="round in entrants" ng-init="roundNum = $index">
			<div class="row">
<!-- 					<div class="test">
 -->						<ul id="bracket" class="list-inline">
								<li ng-repeat="pair in round" class="match">
										<ul class="list-inline well" ng-hide= "hasBye(pair)" ng-init="matchNum = $index">
<!-- 											<li ng-repeat="entrant in pair" class="entrant one">
												<p class="entrant">{{entrant}}</p>
											</li> -->
											<li class="entrant left">
												{{pair[0]}}
											</li>
											<li class="entrant right">
												{{pair[1]}}
											</li>
											<div class="clearfix test-left" 
											ng-class="{active: hover1}"
											ng-mouseenter="hover1 = true"
											ng-mouseleave="hover1 = false"
											ng-click="winner(roundNum,matchNum, 0)"></div>
											<div class="clearfix test-right"
											ng-class="{active: hover2}"
											ng-mouseenter="hover2 = true"
											ng-mouseleave="hover2 = false"
											ng-click="winner(roundNum,matchNum, 1)"></div>
										</ul>
								</li>
						</ul>
<!-- 					</div>
 -->			</div>
			<hr class="style-five"/>
		</div>

	</div>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>