<style type="text/css">
	.welcome {
		position: static;
		margin-top: 20%;
		width: 100%;
	}
	h1 {
		font-size: 72px;
		color: rgb(256,256,256);
	}
	h2 {
		font-size: 48px;
		color: rgb(256,256,256);
	}
	button {
		margin-top: 5%;
	}
</style>
<div class="container">
	<div class="welcome">
		<div class="row">
			<h1 class ="col-md-12 text-center">
				Competition Builds Character
			</h1>
		</div>
		<div class="row">
			<h2 class="col-md-12 text-center">
				or something like that
			</h2>
		</div>
		<div class="row">
			<div class="col-md-12 text-center">
				<a href="/bracket/1">
					<button class="btn btn-primary btn-lg">
						Make a Bracket
					</button>
				</a>
			</div>
		</div>
	</div>
</div>